language: node_js
node_js: node
services:
- mongodb
deploy:
  provider: heroku
  api_key:
    secure: gq69Mjhh7jgbv7kpeX6z6cENmmJnJWgcKiLWraMGFTbvHve+hxzAFiwXMv1acBMu7J0iNL7ccoX5KNRNIeb5xLXIa7zqvV28lvh5Qb3oEwybiHUoHQGPS92bVXond5g/1khAN3wh9Fogu+/Wq9ONzF/PSkcN+6qf7rZlx84UTxN1EjOqK669G7SxSASlSEpUGTTy4HoMPMZ2TvzPhwsbKJg2O+ghBKPuznBQE7BYlArKGhKy+SkbX0EAKSPt38VlbLtJQIDqCI/oFH77jiooKAqQHiIJAeEhIHCoUCnEzTZkprpJwqrhxvXwW9oFbcuYu06lFEC8SY8S/0iJkwhFbhBYTpZBjOFg2IijL9Y4eU9TgHL5PFrhrIMk2MgvBUQcS1pYRM6zPW5TFAvqPT9JpVogS8diZ4KeLzv+G4ZkNvL+/U3Nvzwm5gq0qeutO6yDx/5WSCz9pJnXJ6r0VlHMw32G7fDYN1na5hvHPFV42GM/yujdyi9x9weEPJze1w6H1xaZa1c5Nv0zJFqkKZSJIF90Lvlg6fO38BpUNSGGjPmXyZvVpiXVs6tF1lf9rl04FzNcMzC/WxiyrjoBWRaPd1tN4FFgU8Y+qgCzbLsKyMI+5hfuUIkZkMSA3tHQi6/8pl22EUUaGNUyw3cirN5jykcMlW83et1DuQqoM6JDvLI=
  app: murmuring-escarpment-22422
  on:
    repo: Juliafin/backend_node_capstone_curriculum_and_student_manager
