* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

.unauthorized {
  background-image: url(./../images/403.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;
  background-position: center center;
}

p.unauthorized_redirect {
  position: fixed;
  display: inline-block;
  top: 13.3vw;
  font-size: 1.5vw;
  color: red;
  left: 28.5%;
  font-weight: 600;
}

body {
  background-color: rgb(33, 80, 97);
  font-family: sans-serif;
}

label {
  display: inline-block;
  margin: 2% auto;
  font-family: Trocchi;
  color: #ffaa5b;
  font-size: 2vw;
  height: 2vw;
}

h1 {
  padding: 16px;
  color: white;
  margin-top: 5vw;
  font-family: Trocchi;
  font-size: 4vw;
}

h2.features {
  color: antiquewhite;
  margin-bottom: 3.5%;
  margin-top: 4%;
  font-family: Trocchi;
  font-weight: 100;
  margin-left: 10;
  font-size: 1.8vw;
  text-align: left;
}

h2.features.F_one {
  margin-left: 3vw;
  margin-top: 1vw;
}

h2.features.F_two {
  margin-left: 12vw;
}

h2.features.F_three {
  margin-left: 20vw;
}

h2.features.F_four {
  margin-left: 28vw;
}

nav {
  position: fixed;
  display: block;
  z-index: 2;
  height: 10vh;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(178, 18, 18);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 2px 5px 0px #3e3c3c;
}

.nav li.selected {
  background-color: rgb(1, 73, 99);
  transition: background-color linear 300ms;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
}

.nav>li {
  text-decoration: none;
  outline: none;
  list-style-type: none;
  color: aliceblue;
  font-family: Trocchi;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.4vw;
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

fieldset.general_info {
  margin-top: 5vw;
}

fieldset {
  color: antiquewhite;
  margin-top: 3vw;
  padding: 2vw 0;
  font-size: 3vw;
  min-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-top: #ffaa5b 1px solid;
  padding-bottom: 1vw;
  padding-top: 3vw;
}

input#apartment_number {
  width: 5vw;
}

input#street_address {
  width: 35vw;
}

input {
  height: 3vw;
  border-radius: 2px;
  border: none;
  box-shadow: 3px 3px 5px 0px #444343;
  text-align: left;
  padding-left: 1vw;
  margin: 0 4vw 0px 1vw;
}

input#add_student_project {
    height: 2vw;
    width: 2vw;
}

input#edit_student_project {
    height: 2vw;
    width: 2vw;
}

textarea {
  width: 80vw;
  height: 24vw;
  margin: 2vw;
  text-align: left;
  font-size: 2vw;
  padding: 1vw;
  resize: none;
}

select {
  box-shadow: 3px 5px 5px 0px #3e3c3c;
  border: none;
  border-radius: 2px;
  width: 10vw;
  margin-right: 3vw;
  height: 3vw;
}

.mode_select {
  text-align: center;
}

input#parent_first_name {
  width: 13vw;
}

input#parent_last_name {
  width: 18vw;
}

input#first_name {
  width: 13vw;
}

input#last_name {
  width: 21vw;
}

input#city {
  width: 18vw;
  margin-right: 2vw;
}

input#zipcode {
  width: 10vw;
}

input[type="date"] {
  font-size: 2vw;
}

p.optional_text {
  color: aliceblue;
}

span.optional {
  color: rgb(178, 18, 18);
  margin-left: .5vw;
}

label>span {
  font-size: 1.5vw;
}

p.error {
  display: inline-block;
  color: rgb(178, 18, 18);
  margin-right: 2vw;
  font-size: 1.5vw;
}

form.project>label {
  display: block;
  margin-bottom: 4vh;
}

input#project_comments {
  width: 76vw;
  height: 50vw;
}

form.project input {
  height: 3.5vw;
  width: 30vw;
}

.hidden {
  transform: scale(0);
}

@keyframes displayElement {
  from {
    transform: scale(.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: (1);
  }
}

.popIn {
  animation-name: displayElement;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal
}

.slowPopIn {
  animation-name: displayElement;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal
}

@keyframes removeElement {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: (0);
  }
}

.slowPopOut {
  animation-name: removeElement;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal
}

.card_container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  min-height: 100%;
  margin: 1vw;
}

div.card {
  width: 19vw;
  height: 23vw;
  background-color: #fffaf3;
  /* border: 1px solid rgba(0, 0, 0, 0.18); */
  border-radius: 1px;
  margin: 0px 6.5vw;
  margin-bottom: 5vw;
  margin-top: 4vw;
  box-shadow: 1px 1px 5px black;
}

.card_color {
  position: relative;
  top: 0;
  width: 100%;
  height: 10vw;
}

.student_container {
  height: 54%;
}

.student_container p {
  padding: 3%;
  font-size: 1.3vw;
  margin-top: 10%;
}

p.success {
  color: lightgreen;
}

@keyframes cardFlip {
  from {
    transform: rotateY(180deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg);
    opacity: (1);
  }
}

.flip {
  animation-name: cardFlip;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal
}

.card:nth-child(4n+1)>.card_color {
  background-color: #9c27b0;
}

.card:nth-child(4n+2)>.card_color {
  background-color: #ff5722;
}

.card:nth-child(4n+3)>.card_color {
  background-color: #ffc107;
}

.card:nth-child(4n+4)>.card_color {
  background-color: #4caf50;
}

button.add_student_project,
button.student_info,
button.student_exit,
button.edit_info,
button.student_curriculum {
  margin-top: 2vw;
  border-radius: 2px;
  outline: none;
  border: none;
  background: white;
  padding: 0.3vw;
  width: 60%;
  max-height: 22%;
  font-size: 1.1vw;
  border: 1px grey solid;
}

button[name="add_student"],
button#student_project {
  margin: 2vw;
  width: 20vw;
  height: 5vw;
  background: rgb(178, 18, 18);
  border: none;
  color: aliceblue;
  font-size: 2vw;
}

button[name="add_student"]:hover,
button#student_project:hover {
  filter: brightness(120%);
  color: #ffaa5b;
  transition: all 300ms linear;
}

button[name="add_student"]:active,
button#student_project:active {
  color: aliceblue;
  background-color: #b7c3ce;
}

button.add_student_project:hover,
button.add_student_project:focus,
button.student_info:hover,
button.student_info:focus,
button.edit_info:hover,
button.edit_info:focus,
button.student_exit:hover,
button.student_exit:focus,
button.student_curriculum:hover,
button.student_curriculum:focus {
  background: rgb(33, 80, 97);
  filter: brightness(120%);
  transform: scale(1.1);
  color: white;
  transition: all ease-in-out 301ms;
}

button.add_student_project:active,
button.student_info:active,
.nav>li:active {
  color: #ffaa5b;
  filter: brightness(130%);
  transform: scale(1.2);
  transition: all linear 200ms;
}

button.student_exit {
    display: inline-block;
    width: auto;
    margin-right: 3vw;
    height: 3vw;
    color: white;
}

button.edit_info, button.student_curriculum {
    display: inline-block;
    width: auto;
    height: 3vw;
    color: white;
}

button.student_curriculum {
    margin-left: 3vw;
}

.nav li:hover,
.nav li:focus {
  transform: scale(1.1);
  transition: all linear 300ms;
}

input:focus,
textarea:focus {
  border: 2px solid rgb(178, 18, 18);
  transform: scale(1.1, 1.3);
}

.student_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  background: rgba(0, 80, 144, 0.45);
}

.student_curriculum_container {
  position: fixed;
  text-align: center;
  z-index: 1000;
  height: 91vh;
  width: 77vw;
  left: -9px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.8);
}

.student_main_info {
  width: 80vw;
  height: 80vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.91);
  z-index: 200;
  overflow: auto;
  box-shadow: 3px 3px 12px black;
}

.student_main_info h2 {
  font-family: Trocchi;
  margin-top: 3vw;
  color: white;
  z-index: 1000;
  position: relative;
  font-size: 2vw;
}

.student_main_info p {
  font-size: 1.5vw;
  font-weight: 600;
}

.student_main_info>div.columns>p span {
  font-weight: 400;
}

div.frame_bottom,
div.frame_top,
div.frame_left,
div.frame_right {
  color: rgba(0, 0, 0, 0);
}

.frame_bottom {
  position: absolute;
  bottom: 0;
  height: 6.5vh;
  z-index: 1300;
  width: 100%;
}

.frame_top {
  position: absolute;
  top: 0;
  height: 10.5vh;
  z-index: 1300;
  width: 100%;
}

.frame_left {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 1300;
  width: 9.5vw;
}

.frame_right {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 1300;
  width: 9.5vw;
}

.columns {
  column-count: 3;
  margin: 0 3vw;
  height: auto;
  min-height: 11vw;
}

p.email {
  margin-bottom: 12vh;
  z-index: 1000;
  position: relative;
  color: whitesmoke;
  font-size: 1.5vw;
}

p.street_address_2,
p.lesson_duration {
  margin-bottom: 4vw;
}

p.parent_name {
  margin-bottom: 1vw;
}

.comments_container {
    overflow: auto;
    height: 75px;
}

.color_strip {
  position: absolute;
  width: 100%;
  height: 10vw;
}

div.flex-viewport {
  overflow: hidden;
  position: relative;
}

div.flex-viewport li {
  width: 503px;
  margin-right: 0px;
  float: left;
  display: block
}

div.flex-viewport>ul.slides {
  width: 1200%;
  transition-duration: 0.6s;
  transform: translate3d(-1006px, 0px, 0px);
}

.flex-viewport {
  height: 12vw;
}

.flexslider {
  height: 20vw;
}