* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

.unauthorized {
    background-image: url(./../images/403.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: contain;
    margin: 0 auto;
    position: relative;
    left:  0;
    right: 0;
    background-position: center center;
}

p.unauthorized_redirect {
    position: fixed;
    display: inline-block;
    top: 13.3vw;
    font-size: 1.5vw;
    color: red;
    left: 28.5%;
    font-weight: 600;
}


body {
    background-color:  rgb(33, 80, 97);
    font-family: sans-serif;
}

label {
    display: inline-block;
    margin: 2% auto;
    font-family: Trocchi;
    color: #ffaa5b;
    font-size: 2vw;
    height: 2vw;
}

h1 {
    padding: 16px;
    color: white;
    margin-top: 5vw;
    font-family: Trocchi;
    font-size: 4vw;
}


nav {
  position: fixed;
  display: block;
  z-index: 2;
  height: 8vh;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(178,18,18);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 2px 5px 0px #3e3c3c;
}

.nav li.selected {
  background-color: rgb(1, 73, 99);
  transition: background-color linear 300ms;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
}

.nav > li {
    text-decoration: none;
    outline: none;
    list-style-type: none;
    color: aliceblue;
    font-family: Trocchi;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.4vw;
    width: 100%;
    text-align: center;
    border-radius: 20px;
}

fieldset.general_info {
    margin-top: 5vw;
}

fieldset {
    color: antiquewhite;
    margin-top: 3vw;
    padding: 2vw 0;
    font-size: 3vw;
    min-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-top: #ffaa5b 1px solid;
    padding-bottom: 1vw;
    padding-top: 3vw;
}

input#apartment_number {
    width: 5vw;
}

input#street_address {
    width: 35vw;
}

input {
    height: 3vw;
    border-radius: 2px;
    border: none;
    box-shadow: 3px 3px 5px 0px #444343;
    text-align: left;
    padding: 1vw;
    margin: 0 4vw 0px 1vw;
}

input#teacher_comments {
    width: 80vw;
    height: 24vw;
    margin: 2vw;
    text-align: left;
}

select {
    box-shadow: 3px 5px 5px 0px #3e3c3c;
    border: none;
    border-radius: 2px;
    width: 10vw;
    margin-right: 3vw;
    height: 3vw;
}


input#parent_first_name {
    width: 13vw;
}

input#parent_last_name {
    width: 18vw;
}

input#first_name {
    width: 13vw;
}

input#last_name {
    width: 21vw;
}

input#city {
    width: 18vw;
    margin-right: 2vw;
}

input#zipcode {
    width: 10vw;
}

label[for="teacher_comments"] {
    margin: 0;
}
button[name="add_student"] {
    margin: 2vw;
    width: 16vw;
    height: 4vw;
    background: rgb(178,18,18);
    border: none;
    color: aliceblue;
    font-size: 2vw;
}

button[name="add_student"]:hover {
    filter:brightness(120%);
    color: #ffaa5b;
    transition: all 300ms linear;
 }

 button[name="add_student"]:active {
    color:aliceblue;
    background-color: #b7c3ce;
 }

p.optional_text {
    color: aliceblue;
}

span.optional {
    color: rgb(178,18,18);
    margin-left: .5vw;
}

label > span {
    font-size: 1.5vw;
}

p.error {
    display: inline-block;
    color: rgb(178,18,18);
    margin-right: 2vw;
    font-size: 1.5vw;
}

form.project > label {
    display: block;
    margin-bottom: 4vh;
}

input#project_comments {
    width: 76vw;
    height: 50vw;
}

form.project input{
    height: 3.5vw;
    width: 30vw;
}

.hidden{
  transform: scale(0);
}

@keyframes displayElement {
  from {
    transform:scale(.5);
    opacity: 0;
  }
  to {
    transform:scale(1);
    opacity:(1);
  }
}

.popIn {
  animation-name: displayElement;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
  animation-direction: normal
}


.card_container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    min-height: 100%;
}

div.card {
    width: 17vw;
    height: 20vw;
    background-color: #fffaf3;
    border-radius: 5px;
    margin: 0 7.5vw;
    margin-bottom: 5vw;
    margin-top: 4vw;
    box-shadow: 1px 1px 5px black;
}

.card_color {
    position: relative;
    top: 0;
    width: 100%;
    height: 10vw;
}

.student_container {
    height: 50%;
}

.student_container p {
    padding: 2%;
}

p.success {
    color: lightgreen;
}

@keyframes cardFlip {
  from {
    transform:rotateY(180deg);
    opacity: 0;
  }
  to {
    transform:rotateY(0deg);
    opacity:(1);
  }
}

.flip {
  animation-name: cardFlip;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
  animation-direction: normal
}

.card:nth-child(4n+1) > .card_color {
  background-color: #9c27b0; 
}


.card:nth-child(4n+2) > .card_color {
  background-color: #ff5722; 
}
.card:nth-child(4n+3) > .card_color {
  background-color: #ffc107; 
}
.card:nth-child(4n+4) > .card_color {
  background-color: #4caf50; 
}


