
/* 
Created on: 17 Sep, 2014, 4:29:37 PM
Author: senthil
*/

.ti_tx,
.mi_tx,
.mer_tx {
	width: 100%;
	text-align: center;
	margin: 1vw 0;
	margin-bottom: 1vw;
}

.time,
.mins,
.meridian {
	width: 6vw;
	,: center
	margin: 0 4px;
	font-size: 1vw;
	color: #2d2e2e;
	font-family: arial;
	font-weight: 700;
	float: left;
}

.prev,
.next {
	cursor: pointer;
	padding: 1.5vw;
	width: 14px;
	border: 1px solid rgba(64, 62, 59, 0.71);
	margin: auto;
	border-radius: .5vw;
}

.prev:hover,
.next:hover {
	background-color: white;
}

div.next {
	background-position: 50% 150%;
	background: url(../images/arrow_down.png) no-repeat;
	background-size: contain;
}

div.prev {
	background-position: 50% -50%;
	background: url(../images/arrow_up.png) no-repeat;
	background-size: contain;
}

.time_pick {
	position: relative;
	/* width: 24vw; */
	margin: 0;
	padding: 0;
	display: inline-block;
}

.timepicker_wrap {
	padding: 5px;
	border-radius: 5px;
	z-index: 998;
	display: none;
	box-shadow: -3px 2px 5px 0 rgba(50,50,50,0.35);
	background: #ffffff;
	border: 1px solid #909090;
	float: left;
	position: absolute;
	top: 26px;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	width: 28vw;
	font-family: trocchi;
}

.arrow_top {
	position: absolute;
	top: -1vw;
	left: 2vw;
	background: url(../images/top_arr.png) no-repeat;
	width: 3vw;
	height: 1vw;
	z-index: 999;
}

input.timepicki-input {
	background: none repeat scroll 0 0 #FFFFFF;
	float: none;
	margin: 0;
	text-align: center;
	width: 80%;
	font-size: 2.2vw;
	color: #ffaa5b;
	font-family: trocchi;
	box-shadow: none;
	padding-left: 0;
}

a.reset_time {
	color: #000;
	font-size: 2vw;
	position: relative;
	top: 4vw;
}
