* {
    box-sizing: border-box;
}

nav {
  position: fixed;
  display: block;
  z-index: 2;
  height: 40px;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(14, 97, 20);
  background-size: cover;
  background-position: center;
}

.nav li.selected {
  background: rgba(133, 209, 234, 0.83);
  transition: background-color linear 300ms;
}


body {
    background-color: rgb(6, 154, 191);
    font-family: Roboto, sans-serif;
}

.signupbox {
    display: block;
    position: relative;
    width: 66vw;
    min-height: 100%;
    padding: 0px 4% 5% 4%;
    margin: 9% auto;
    background-color: white;
}


/*Fieldset reset*/

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    padding-top: 40px;
    text-align: center;
    color: rgb(80, 80, 80);
    margin: 0;
    margin-bottom: 30px;
}

label {
    display: block;
    text-align: left;
    color: black;
    margin: 1.2vw 0 1vw 10vw;
    font-weight: bold;
    margin-left: 10vw;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38vw;
    height: 40px;
    padding: 15px;
    border: 2px solid;
    border-color: #868686;
    border-radius: 5px;
}

button {
  margin-top: 40px;
  width: 320px;
  height: 50px;
  background-color: rgb(14, 97, 20);
  color: white;
  font-size: 16px;
  border: none;
  font-family:Roboto;
}

label#teacher_label, label#student_label {
    display: inline;
}

input#teacher, input#student {
    display: inline;
    width: 17%;
}

input[type="radio"] {
    height: 19px;
    margin-top: 11%;
    margin-left: 0%;
    margin-right: 2%;
    padding: 0;
    cursor: pointer;
}

button:hover{

/* filter: brightness(115%); */
color: #774242;
transition: all ease-in-out 200ms;
}

p{
  text-align: center;
}

p > a{
  display: inline;
  margin-left: auto;
  margin-right: auto
  text-decoration: none;
  color: rgb(69, 173, 76);
}

.accountq, a.login {
    margin-top: 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;

  }


.teacher_student_select {
    text-align: center;
}

.button_container {
    text-align: center;
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
}

.nav > li {
    text-decoration: none;
    outline: none;
    list-style-type: none;
    color: aliceblue;
    font-family: Ruboto;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 2.3vw;
    width: 20%;
    text-align: center;
    /* height: 82%; */
    border-radius: 20px;
}

li:hover {
    color: #774242;
    transition: color linear 200ms;
}